.contenedor1 {
    display: flex;
    background-color: rgb(247, 209, 159);
}

#one {
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}

#two {
    margin: 20px 20px;
    width: 100px 200px;
    height: 100px 100px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}

#three {
    margin: 20px 20px;
    width: 100px 200px;
    height: 100px 100px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}

#titulo {
    color: orange;
    background-color: white;
    margin: 20px 200px;
    height: 100px 100px;
    padding: 20px;
}

.contenedor2 {
    display: flex;
    justify-content: flex-end;
}

#four {
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}

#five {
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}

#six {
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    font-weight: bolder;
    color: blue;
}